<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!--    <script src="/js/session.js" defer></script>-->
    <!--  CSRF  -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<div>
    <th:block layout:fragment="header"></th:block>
</div>
<div>
    <th:block layout:fragment="content"></th:block>
</div>
</body>
</html>